@model IEnumerable<EventsListCommon.Models.Category>
<link href="~/Content/categoriesbar.css" rel="stylesheet" />
<div class="category-div">
    <p class="category-title" onclick="getAllEvents()"><b>Все категории</b></p>
    @DisplayTree(Model.Where(x => x.Pid == null).OrderBy(x => x.Name))
    @helper DisplayTree(IEnumerable<EventsListCommon.Models.Category> categories)
    {
            foreach (var category in categories)
            {

                <p class="category" id="@category.Id" onclick="getEventsByCategoryId(@category.Id)">@category.Name</p>

                var children = Model.Where(x => x.Pid == category.Id).ToList();
                if (children.Any())
                {
                    <div class="category-children">
                        @DisplayTree(children)
                    </div>
                }
            }
    }
</div>