@model IEnumerable<EventsListCommon.Models.Category>

<div class="category-div">
    <p class="category-title" onclick="getAllEvents()"><b>Все категории</b></p>
    @foreach (var category in Model)
    {
        <p class="category" id="@category.Id" onclick="getEventsById(@category.Id,true)" >@category.Name</p>
        <div class="subcategories">
            @foreach (var subcategory in category.Subcategories)
            {
                <p id="@subcategory.Id" class="subcategory" onclick="getEventsById(@subcategory.Id,false)">@subcategory.Name</p>
            }
        </div>
    }
</div>
<script>
    function getEventsById(id, isCategory) {
        $(".body-content").load('@Url.Action("Events","Home")?categoryId=' + id + '&isCategory=' + isCategory);
    }
    
</script>