@model EventsListCommon.Models.User

@{
    ViewBag.Title = "EditOrganizerInfo";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Organizer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrganizerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrganizerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizerEmails, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="emails">

                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-success" name="addBtnEmail" type="button">Add</button>
                    </span>
                    <input class="form-control" name="emailText" type="email">
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizerPhones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="phones">
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-success" name="addBtnPhone" type="button">Add</button>
                    </span>
                    <input class="form-control" name="phoneText" type="text">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    <script>
        $(function () {
            loadPhones();
            loadEmails();
        });

        function loadPhones() {
            $("#phones").load("/Account/GetOrganizerPhones");
        }

        function loadEmails() {
            $("#emails").load("/Account/GetOrganizerEmails");
        }

        $("[name='addBtnEmail']").click(function () {
            var emailInput = $(this).parent().siblings("input[name='emailText']")[0];
            $.ajax({
                url: "/Account/AddOrganizerEmail",
                data: {
                    email: emailInput.value
                },
                success: function () {
                    emailInput.value = "";
                    loadEmails();
                },
                error: function (error) {
                    console.log(error.status + " - " + error.statusText);
                }
            });
        });

        $("[name='addBtnPhone']").click(function () {
            var phoneInput = $(this).parent().siblings("input[name='phoneText']")[0];
            $.ajax({
                url: "/Account/AddOrganizerPhone",
                data: {
                    phone: phoneInput.value
                },
                success: function () {
                    phoneInput.value = "";
                    loadPhones();
                },
                error: function (error) {
                    console.log(error.status + " - " + error.statusText);
                }
            });
        });

        function DeleteEmail(emailId) {
            $.ajax({
                url: "/Account/DeleteOrganizerEmail",
                data: {
                    emailId: emailId
                },
                success: function () {
                    $("#email_" + emailId).remove();
                },
                error: function (error) {
                    console.log(error.status + " - " + error.statusText);
                }
            });
        }

        function DeletePhone(phoneId) {
            $.ajax({
                url: "/Account/DeleteOrganizerPhone",
                data: {
                    phoneId: phoneId
                },
                success: function () {
                    $("#phone_" + phoneId).remove();
                },
                error: function (error) {
                    console.log(error.status + " - " + error.statusText);
                }
            });
        }
    </script>
}