@model EventsListCommon.Models.EventDetail

@if (Model != null)
{
    //ImageURL
    <div class="event-detail">
        <div>
            <p>Название: @Model.EventName</p>
        </div>
        <div>
            <p>Дата: @Model.Date.ToShortDateString()</p>
        </div>
        <div>
            <p>Организатор: @Model.OrganizerName</p>
            @if (Model.OrganizerEmails.Count > 0)
            {
                <p>Emails:</p>
                foreach (var email in Model.OrganizerEmails)
                {
                    <p class="event-detail-email">@email.EmailString</p>
                }
            }
            @if (Model.OrganizerPhones.Count > 0)
            {
                <p>Телефоны:</p>
                foreach (var phone in Model.OrganizerPhones)
                {
                    <p class="event-detail-phone">@phone.PhoneNumber</p>
                }
            }
        </div>
        <div>
            <p>Категория: @Model.CategoryName, @Model.SubcategoryName</p>

        </div>
        <div>
            <p>Адрес: @Model.Address</p>
        </div>
        <div>
            <p>Описание: @Model.Description</p>
        </div>
    </div>
}